body {
    font-family: sans-serif;
    border: 2px black;
}

.cardImage {
    width: 19vw;
}

.cardImage:hover {
    transition: all 0.7s ease;
    width: 20vw;
}

.cardText {
    text-align: center;
    padding: 5px;
}

#card .cardText {
    display: none;
}

#card:hover .cardText {
    display: flex;
    transition: all 0.7s ease;
}

.cardText:hover {
    transition: all 0.7s ease;
    color: rgb(0, 164, 231);
}

.pub {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: xx-large;
    color: rgb(0, 164, 231);
    background-color: yellow;
}

.pub:hover {
    transition: all 0.5s ease;
    text-align: center;
    font-size: xx-large;
    color: red;
}

#card {
    display: inline-table;
    width: 19vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#card:hover {
    transition: all 0.7s ease;
    box-shadow: 0 8px 16px 0 rgba(0, 164, 231, 0.7);
}

.marginalized {
    box-sizing: border-box;
    margin-left: 150px;
    margin-right: 150px;
}

#floatRight {
    float: right;
}

.button {
    padding: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    display: inline-block;
    width: 22%;
    border-radius: 10px;
    background-color: white;
}

#navigation {
    font-family: sans-serif;
    color: #f5f5ef;
    padding-right: 25px;
    text-decoration: none;
}

#navbar {
    margin-top: 10px;
    padding: 8px;
    background-color: #484444;
    align-items: stretch;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
}

.mySlides {
    display: none;
    position: relative;
    text-align: center;
    color: white;
}

img {
    vertical-align: middle;
}

.youtubeBanner {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#youtube {
    align-items: center;
}

.youtubeList {
    width: 90vw;
}

.youtubeIframe {
    width: 500px;
    height: fit-content;
}

.footer {
    background-color: #282C2F;
    padding: 50px;
}

.footerLogo {
    float: right;
    float: right;
}

.footerLogoImage {
    width: 20vw;
}

.footerLogoCaption {
    width: 20vw;
    text-align: center;
    color: white;
    font-size: small;
}

.footerTable {
    display: inline-table;
    width: 20vw;
}


/* Slideshow container */


/* Caption text */

.text {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.appointmentText {
    display: inline;
    margin-bottom: 10px;
}

.notOnDesktop {
    display: none;
}


/* The dots/bullets/indicators */

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

#achievementBanner {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aboutImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about {
    margin-top: 20px;
    border: 2px solid black;
    color: black;
}

.about:hover {
    transition: all 0.7s ease;
    background-color: yellow;
    border: none;
    color: red;
}

#about {
    padding: 20px;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

@media only screen and (max-width: 500px) {
    #socialMedia {
        display: none;
    }
}


/* [ON BIG SCREENS] */


/* (A) WRAPPER */

#hamnav {
    width: 100%;
    background: #000;
    /* Optional */
    position: sticky;
    top: 0;
}


/* (B) HORIZONTAL MENU ITEMS */

#hamitems {
    display: flex;
}

#hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
}

#hamitems a:hover {
    background: #401408;
}


/* (C) HIDE HAMBURGER */

#hamnav label,
#hamburger {
    display: none;
}