.notOnMobile {
    display: none;
}

.onMobile {
    width: 100vw;
}

.cardImage {
    width: 45vw;
}

.cardText {
    text-align: center;
    padding: 5px;
}

#card .cardText {
    display: none;
}

#card:hover .cardText {
    display: flex;
}

.cardText:hover {
    color: rgb(0, 164, 231);
}

#card {
    display: inline-table;
    width: 45vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 2vw;
}

.achievementBannerOnMobile,
.youtubeBannerOnMobile {
    width: 60vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    width: 90%;
    height: fit-content;
    margin-left: 5%;
    margin-right: 5%;
}

.pub {
    text-align: center;
    font-size: larger;
    color: rgb(0, 164, 231);
}

.youtubeIframe {
    display: block;
    width: 90vw;
    height: fit-content;
    margin: auto;
    margin-bottom: 10px;
}

.footer {
    background-color: #282C2F;
    padding: 10px;
}

.footerLogoImage {
    display: block;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

.footerLogoCaption {
    text-align: center;
    font-size: 10px;
    color: aliceblue;
}

#hamnav {
    width: 100%;
    background: #000;
    /* Optional */
    position: sticky;
    top: 0;
}

.about {
    width: 100%;
    border: 2px solid black;
    color: black;
}

.about:hover {
    transition: all 0.7s ease;
    background-color: yellow;
    border: none;
    color: red;
}

#about {
    padding: 20px;
}


/* (B) HORIZONTAL MENU ITEMS */

#hamitems {
    display: flex;
}

#hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
}

#hamitems a:hover {
    background: #401408;
}


/* (C) HIDE HAMBURGER */

#hamnav label,
#hamburger {
    display: none;
}

@media screen and (max-width: 960px) {
    /* (A) BREAK INTO VERTICAL MENU */
    #hamitems a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-top: 1px solid #333;
    }
    /* (B) SHOW HAMBURGER ICON */
    #hamnav label {
        display: inline-block;
        color: white;
        background: #a02620;
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;
    }
    /* (C) TOGGLE SHOW/HIDE MENU */
    #hamitems {
        display: none;
    }
    #hamnav input:checked~#hamitems {
        display: block;
    }
}


/* [DOES NOT MATTER] */

html,
body {
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
}

.dropdown {
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    margin: 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    background-color: #000;
    color: white;
}

.smIcons {
    width: 50px;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
    text-align: center;
}